* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Mukta', sans-serif;
}

body{
  background-color: white;
  background-color: rgb(206, 232, 206);
  z-index: -5;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002B1D;
}
 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 300;
}

li a:hover {
  background-color: #111;
}
li {
  float: left;
}

/* Nav Bar */

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #003816;
  min-width: 10vw;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navBar {
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
  overflow: hidden;
  font-size: 2rem;
}

.nav-items {
  padding: 20px;
  float: right;
  font-size: 3rem;
}

.img-logo {
  height:10vh;
  padding-left: 10%;
  padding-top: 5%;
}


/* main home */

.box-home {
  background-color: white;
  width: 100%;
  background-image: url("./img/img-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-bottom: 31.5%;
}

.article-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 2rem;
}

/* main opleidingen */


.title-opleidingen {
  position: relative;
  font-size: 3rem;
  text-align: center;
}

.header2-opl {
  text-align: center;
}

.main-opl a {
  color: black;
  text-decoration: none;
} 

.main-opl:not(.title-opleidingen) {
  font-size: 2rem;
}

.softdev {
  border-style: solid;
  margin: 0% 3% 2% 3%;
  background-color: gray;
}

.softdev-flex {
  display: flex;
  justify-content: space-around;
}

.softdev p {
  align-self: flex-start;
  width: 50%;
}

.softdev img {
  margin-bottom: 2%;  
}

.cmt {
  border-style: solid;
  margin: 0% 3% 2% 3%;
  background-color: gray;
}

.cmt-flex {
  display: flex;
  justify-content: space-around;
}

.cmt img {
  margin-bottom: 2%;
}

.cmt p {
  align-self: flex-start;
  width: 50%;
}

.sad{
  border-style: solid;
  margin: 0% 3% 2% 3%;
  background-color: gray;
}

.sad-flex {
  display: flex;
  justify-content: space-around;
}

.sad p {
  align-self: flex-start;
  width: 50%;
}

.sad img {
  margin-bottom: 2%;
}

/* main examenplan */

.main-examen {
text-align: center;   
}

/* main oudergesprekken */

.main-ouder {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.main-ouder p {
  margin-bottom: 3%;
  margin-left: 1%;
}

.h1-oudergesprekken { 
  text-align: center;
  margin-bottom: 5%;
}

.h2-oudergesprekken{
  margin-left:  1%;
}

.oudergesprekimg {
  scale: 50%;
}

/* main Canvas */

.main-canvas {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 0% 2%;
}

.img-canvas {
  height: 300px;
  width: auto;
  margin-top: 3%;
  margin-right: 3%;
}

.uitleg-curs {
  display: flex;
  justify-content: space-between;
}

.uitleg-curs p {
  width: 700px;
}



/* footer */


.footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: #002B1D;
  padding: 10px;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
